[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
pandas = "*"
jupyter = "*"
python-dotenv = "*"
langchain-community = "*"
streamlit = "*"
pytest = "*"
langchain = "*"
sqlalchemy = "*"
langchain-experimental = "*"

[dev-packages]

[requires]
python_version = "3.12"
